/* Existing Styles */
.sidebar {
    background-color: #f5f9fb;
    
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    height: 100vh;
    position: fixed;
    top: 60px; /* Ensure the sidebar starts at the top */
    left: 0;
    width: 200px;
    z-index: 1000; /* Increased z-index to ensure it's above other content */
    transition: transform 0.3s ease; /* Smooth transition for sliding effect */
}
.sidebar-l{
    margin-top: -400px;
    position: fixed;
}
.sidebar .nav-link {
   
    margin-bottom: 15px;
    cursor: pointer;
    color: #132F58;
}

.content {
    margin-left: 400px; 
    padding-left: 20px; /* Adjusted padding to match the sidebar */
    position: relative;
    padding-top: 100px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: -200px; /* Hide sidebar off-screen by default */
        width: 200px;
        height: 100%;
        transform: translateX(-100%);
    }

    .sidebar-open {
        transform: translateX(0); /* Show sidebar when toggled */
    }

    .content {
        margin-left: 0; /* No margin needed for content when sidebar is hidden */
        padding-left: 20px; /* Adjusted padding to fit content better */
    }

    /* Add styles for the hamburger menu icon */
    .navbar-toggler {
        display: block; /* Show hamburger icon on smaller screens */
    }
}

/* Styles for the hamburger menu icon */
.navbar-toggler {
    display: none; /* Hidden by default */
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1100; /* Ensure it's above the sidebar */
}
