/* General Styles */
.myform-container {
  background-color: #E5F6FF;
  display: flex;
  justify-content: center;
  max-height: 90vh;
  margin-top: 5px;
}

.myform-fieldset {
  background-color: #FFF;
  border: 1px solid #ccc;
  padding: 50px;
  border-radius: 30px;
  max-width: 800px;
  width: 100%;
  position: relative; /* Add position relative to contain the absolute button */
}

.myform-legend {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.myform-table {
  width: 100%;
}

.myform-label-cell,
.myform-input-cell {
  padding: 10px;
}

.myform-label {
  font-weight: bold;
}

.myform-input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.myform-weight-row {
  display: flex;
  align-items: center;
}

.myform-weight-input {
  flex: 1;
  margin-right: 10px;
}

.myform-weight-select {
  width: 80px;
}

.myform-button-container {
  position: absolute;
  bottom: 5px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.myform-submit-button {
  background-color: #007bff; /* Blue color */
  color: #fff;
  padding: 6px 12px; /* Adjust padding for a smaller button */
  border: none;
  font-size: 17px; /* Smaller font size */
  cursor: pointer;
  border-radius: 4px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .myform-fieldset {
    padding: 30px;
  }

  .myform-label-cell,
  .myform-input-cell {
    width: 100%;
    padding: 10px 0;
  }

  .myform-weight-row {
    flex-direction: column;
  }

  .myform-button-container {
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 480px) {
  .myform-legend {
    font-size: 18px;
  }

  .myform-input,
  select {
    font-size: 14px;
  }

  .myform-submit-button {
    font-size: 14px;
    padding: 10px;
  }
}
