/* General styling for main div */
.main-div1{
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-left: -150px;
  }
  
  /* Content Header */
  .content-div p{
    text-align: left;
    margin-left: 120px;
    position: relative;
    
    font-size: 20px;
  }
  .content-div {
    width: 100%;
    height: 60%;
    color: #132F58;
    margin-left: -130px;
    margin-bottom: 30px;
    margin-top: -65px;
}
  .c-title {
    font-size: 2rem;
    color: #333;
    text-align: left;

  }
  
  .text-muted {
    font-size: 1rem;
    color: #777;
  }
  
  /* Inventory content styling */
  .inventory-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Individual card styles */
  .card.inventory-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    flex: 1 1 calc(33.333% - 20px); /* Flexible basis for 3 columns */
    min-width: 250px;
  }
  
  .backgrounddiv {
   
    color:var(--dark);
    
    border-radius: 8px 8px 0 0;
   
  }
  .backgrounddiv h2{
    color:var(--dark);
    font-size: 20px;
  }
  
  .bi {
    
   
  }
  .i2{
   
  }
  .inv-btn {
    background-color:var(--dark);
    color: white;
    border: none;
   
    width: 100%;
  }
  
  .inv-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Styles */
  /* Tablets and smaller (less than 768px) */
  @media (max-width: 768px) {
    .inventory-content {
      flex-direction: column;
      align-items: center;
    }
  
    .card.inventory-card {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .title {
      font-size: 1.75rem;
    }
  
    .text-muted {
      font-size: 0.9rem;
    }
  }
  
  /* Extra small devices (less than 576px) */
  @media (max-width: 576px) {
    .backgrounddiv img{
      width: 80%;
    }
  
    .card.inventory-card {
      padding: 10px;
      width: 80%;
      margin-left: 114px;
    }
    .content-div p{
      text-align: left;
      margin-left: 254px;
      position: relative;
      
      font-size: 12px;
    }
    .backgrounddiv {
      font-size: 1.25rem;
    }
  
    .inv-btn {
      font-size: 0.9rem;
    }
  }
  